@mixin dis-flex($direction,$justify,$align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin border($width,$type,$color,$radius){
    border: $width $type $color;
    border-radius: $radius;
}

@mixin dis-grid($columns,$rows){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

@mixin img-uploaded($rotate){
    object-fit: cover;
    border-radius: 5px; 
    border-bottom:50px solid #ffffff;
    border-top:10px solid #ffffff;
    border-left:10px solid #ffffff;
    border-right:10px solid #ffffff;
    transform: $rotate;
}

@mixin pick-radio-flower($bg-image){
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    background-image: $bg-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin nav-link-hover-active(){
    @include border(1.5px, solid, $primary-color, 15px);
    color: $secondary-color;
    background-color: $primary-color;
}

@mixin feature_section_background_flowers($grid-column-start,$grid-column-end,$grid-row-start,$grid-row-end){
    @media screen and (min-width: 1025px) and (max-width: 1350px){
        width: 80%;
    }
    @media screen and (min-width: 1351px) and (max-width: 2000px){
        width: 70%;
    }
    width: 100%;
    grid-column-start: $grid-column-start;
    grid-column-end: $grid-column-end;
    grid-row-start: $grid-row-start;
    grid-row-end: $grid-row-end;
}

@mixin feature_section_texts($grid-column-start,$grid-column-end,$grid-row-start,$grid-row-end){
    @media screen and (min-width: 1025px) and (max-width: 1350px){
        width: 80%;
    }
    @media screen and (min-width: 1351px) and (max-width: 2000px){
        width: 80%;
    }
    place-self: center;
    width: 90%;
    grid-column-start: $grid-column-start;
    grid-column-end: $grid-column-end;
    grid-row-start: $grid-row-start;
    grid-row-end: $grid-row-end;
}

@mixin feature_section_images($grid-column-start,$grid-column-end,$grid-row-start,$grid-row-end){
    @media screen and (min-width: 1025px) and (max-width: 1350px){
        width: 80%;
    }
    @media screen and (min-width: 1351px) and (max-width: 2000px){
        width: 70%;
    }
    place-self: center;
    grid-column-start: $grid-column-start;
    grid-column-end: $grid-column-end;
    grid-row-start: $grid-row-start;
    grid-row-end: $grid-row-end;
    width: 95%;
    img{
        border-radius: 50px;
      }
}

@mixin about_position($grid-column-start,$grid-column-end,$grid-row-start,$grid-row-end){
    grid-column-start: $grid-column-start;
    grid-column-end: $grid-column-end;
    grid-row-start: $grid-row-start;
    grid-row-end: $grid-row-end;
}
