$font-primary: "Fredoka", sans-serif;
$font-secondary: 'Georgia', serif;

$base-font-size: 16px;
$small-font-size: 14px;
$large-font-size: 18px;

// Line Heights
$base-line-height: 1.5;
$heading-line-height: 1.2;

// logo width
$logo-width:50px;

// Font Weights
$font-weight-normal: 400;
$font-weight-bolder: bolder;

// Headings
$h1-font-size: 40px;
$h1-font-weight: $font-weight-bolder;
$h1-font-color: #5c162e;


// dear
$dear-font-size: 25px;
$dear-font-weight: $font-weight-bolder;
$dear-font-color: #5c162e;

$btn-font-color: #5c162e;
$btn-font-padding-top: 8px;
$btn-font-padding-left: 20px;
$btn-font-size: 15px;
$btn-font-weight: bolder;

// msg
$msg-font-size: 20px;
$msg-font-weight: $font-weight-bolder;
$msg-font-color: #c09aa5;

// form labels inputs
$label-font-size: 20px;
$label-font-weight: $font-weight-bolder;
$label-font-color: #5c162e;

$input-font-size: 15px;
$input-font-weight: $font-weight-bolder;
$input-font-color: #5c162e;


// color radio
$color-radio-width:70px;
$color-radio-height:70px;

// flower radio
$flower-radio-width:200px;
$flower-radio-height:300px;
$flower-radio-border-width :2px;
$flower-radio-border-type :solid;
$flower-radio-border-color :#c09aa5;



