@import "../abstracts/_mixins.scss";
@import "../abstracts/variables";
@import "../abstracts/placeholders";

.no_prev_next {
  height: 100vh;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  .contant {
    width: 70%;
    background-color: rgba($color: #ffffff, $alpha: 0.7);
    @include dis-flex(row, center, center);
    gap: 50px;
    border-radius: 50px;
    box-shadow: 0px 0px 50px 1px rgba($color: #5c162e, $alpha: 0.7);
    img {
      width: 300px;
      border-radius: 50px 0px 0px 50px;
    }
    .text {
      @include dis-flex(column, space-evenly, center);
      gap: 70px;
      height: 100%;
      h1 {
        font-size: 30px;
        text-transform: capitalize;
        margin-bottom: 20px;
        width: 95%;
      }
      p {
        text-transform: capitalize;
        width: 95%;
      }
      .btns{
        width: 100%;
        @include dis-flex(row, flex-end, center);
      }
    }
  }
}
